[Desktop Entry]
Encoding=UTF-8
Name=ByteCoin
Comment=ByteCoin P2P Cryptocurrency
Comment[fr]=ByteCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ByteCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/bytecoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bytecoin80.xpm
MimeType=x-scheme-handler/bytecoin;
Categories=Office;
